# Java
out/
*.class

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# IDE
.vs/
.idea/workspace.xml
.vscode/

# Database
*.sqlite
*.db

# Build
*.exe
*.dll
*.pdb

# System
Thumbs.db
Desktop.ini
